---
layout: themed
title: Notes & Writing
eyebrow: Notes & Writing
subtitle: Essays on power systems, product strategy, and semiconductor roadmaps.
permalink: /notes/
---
<div class="post-list">
  {% for post in site.posts %}
    <a class="post-item" href="{{ post.url | relative_url }}">
      <div class="post-num">{{ forloop.index0 | plus: 1 | prepend: '0' }}</div>
      <div>
        <div class="post-tag">Article</div>
        <div class="post-title">{{ post.title }}</div>
        {% if post.excerpt %}
          <div class="post-excerpt">{{ post.excerpt | strip_html | truncate: 170 }}</div>
        {% endif %}
      </div>
      <div class="post-meta">{{ post.date | date: "%b %d, %Y" }}</div>
    </a>
  {% endfor %}
</div>
