---
---

@import "minimal-mistakes";

/* FIX WIDTH */
.page__inner-wrap {
  max-width: 720px;
  margin: 0 auto;
}

/* Improve readability */
.page__content {
  font-size: 1.05em;
}

.page__content p {
  line-height: 1.75;
  margin-bottom: 1.3em;
}
